---
BasedOnStyle: LLVM
ColumnLimit: 100
AccessModifierOffset: -2
DerivePointerAlignment: false
IndentWidth: 2
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
ReferenceAlignment: Left
PointerAlignment: Left
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
IndentAccessModifiers: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
BreakConstructorInitializers: BeforeComma
SpaceBeforeCpp11BracedList: true
AllowAllConstructorInitializersOnNextLine: true
